ul:not(.collapsible), ol {
    margin-bottom: .5rem;
}

span > ul:not(.collapsible), span > ol {

    & > li {
        p {
            margin: 0;
            padding: 0;
            padding-bottom: .5rem;
        }
    }
}

ul:not(.collapsible) {
    & > li {
        list-style-type: disc !important;
        margin-left: 2rem;
    }
}

ol {
    & > li {
        list-style-type: decimal !important;
    }
}

pre.prettyprint {
    margin: 0 !important;
    border-radius: 0 !important;
}
